.prompt {
  position: fixed;
  z-index: 9999;
  background-color: white;
  border: 1px solid grey;
  bottom: 0; }
  .prompt h1 {
    background-color: lightblue; }

.notify_block {
  position: fixed;
  z-index: 9999;
  bottom: 0; }

.notify {
  margin: 3px;
  padding: 0;
  background-color: rgba(146, 146, 146, 0.6);
  border-radius: 5px;
  color: white; }
  .notify h1 {
    background-color: #3366cc;
    margin: 0px; }

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16pt;
  color: #35393C;
  min-height: 100vh;
  min-width: 100vw; }

a {
  text-decoration: none;
  color: #5fc2f0; }

a:hover {
  color: #5ec1f0; }

header {
  position: fixed;
  background-color: #35393C;
  top: 0px;
  vertical-align: middle;
  line-height: 40px;
  height: 40px;
  left: 0px;
  right: 0px;
  z-index: 500;
  font-size: 12pt; }
  header h1,
  header > * {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    margin: 0px;
    font-size: 12pt;
    font-family: 'Neue Helvetica', Helvetica, sans-serif; }
  header > .logo {
    margin-left: 10px;
    float: left;
    color: #5fc2f0;
    font-weight: 100; }
    header > .logo:hover {
      color: #bce6f9; }
  header > label.menu {
    float: right;
    cursor: pointer;
    color: #5fc2f0;
    margin-right: 10px;
    vertical-align: middle; }
  header > input[type=checkbox].menu {
    visibility: hidden; }
  header > input[type=checkbox].menu:checked ~ ul.menu {
    display: block; }
  header > ul.menu {
    height: auto;
    display: none;
    position: fixed;
    top: 40px;
    padding: 0;
    max-height: calc(100% - 40px);
    max-width: 100%;
    min-width: 150px;
    overflow: auto;
    z-index: 800;
    background: #35393c;
    right: 0px;
    border-radius: 2px;
    border-left: 3px solid #5fc2f0; }
    header > ul.menu > li {
      display: block;
      list-style-type: none; }
      header > ul.menu > li form.search, header > ul.menu > li a {
        display: block;
        padding: 5px;
        padding-left: 20px;
        color: #5fc2f0;
        text-decoration: none;
        width: 100%;
        background: none; }
        header > ul.menu > li form.search button,
        header > ul.menu > li form.search input, header > ul.menu > li a button,
        header > ul.menu > li a input {
          border: none;
          background: none;
          height: 30px;
          padding: 0;
          margin: 0;
          outline: 0;
          font-size: 12pt;
          color: #5fc2f0; }
        header > ul.menu > li form.search input[type=text], header > ul.menu > li a input[type=text] {
          border-bottom: 1px solid #5fc2f0; }
      header > ul.menu > li a:hover {
        color: #5fc2f0;
        background: #34383b; }
  header img, header svg {
    stroke: #5fc2f0;
    height: 30px;
    vertical-align: middle; }
    header img:hover, header svg:hover {
      stroke: #bce6f9; }
  header::after {
    clear: both; }

.has-menubar {
  margin-top: 40px;
  min-height: calc(100vh-$header_height); }

/* END HEADER */
article {
  width: 100%; }
  article .content,
  article figure,
  article table,
  article section {
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.3em; }
  article .code code {
    font-size: smaller; }
  article section.header {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: $text-color;*/
    background-attachment: fixed;
    background-blend-mode: screen;
    overflow: hidden;
    color: white;
    min-height: 50vh;
    font-weight: 100;
    font-family: 'Neue Helvetica', Helvetica, sans-serif; }
    article section.header .content {
      margin-top: 30px; }
    article section.header img.bg {
      pointer-events: none;
      position: absolute;
      object-fit: cover;
      filter: brightness(0.5);
      width: 100%;
      height: 100%;
      z-index: -1; }
  article textarea {
    width: 100%; }
  article table {
    display: block;
    border-collapse: collapse;
    border: 1px solid #929292;
    width: 100%;
    font-size: small;
    font-family: "Neue Helvetica", Helvetica, sans-serif;
    caption-side: bottom;
    overflow: auto;
    max-height: calc(100vh-80px); }
    article table th {
      text-align: left;
      background-color: #3366cc;
      color: white;
      padding: 4px 0px; }
    article table tr:hover {
      background-color: #929292; }
    article table caption {
      font-size: small;
      font-family: 'Neue Helvetica', Helvetica, sans-serif; }
  article section.footer {
    font-size: smaller; }
  article button {
    background-color: #3366cc;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; }

.has-menubar {
  margin-top: 40px; }

footer {
  font-family: 'Neue Helvetica', Helvetica, sans-serif;
  color: #929292;
  font-size: small;
  text-align: center; }


/*# sourceMappingURL=style.css.map*/