{% extends "blog/base.html" %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-blogindexpage{% endblock %}

{% block article %}
    <section class="boxed full invert">
        <div class="content">
            <h1>{{ page.title }}</h1>
            <div class="intro">{{ page.intro|richtext }}</div>
        </div>
    </section>

    {% for post in page.get_children %}
        <section  class="boxed">
            {% with post=post.specific %}
                {% with post.hero as hero %}
                    {% if hero %}{% image hero fill-200x100 %}{% endif %}
                {% endwith %}
                <div class="content">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.intro }}</p>
                    <a href="{% pageurl post %}">read more</a>
                </div>
            {% endwith %}
            </section>
    {% endfor %}

{% endblock %}