{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogpage has-menubar{% endblock %}
{% block content %}
<article>
    {% if page.hero %}
    {% image page.hero original as tmp_photo %}
    <!-- <section  class="header bgimage" style="background-image: url('{{tmp_photo.url}}');">-->
    <section class="header">
        <img class="bg" src="{{tmp_photo.url}}" alt="">
    {% else %}
    <section class="header">
    {% endif %}
        <div class="content">
            <h1>{{ page.title }}</h1>
            <p class="meta">- {{ page.date }} -</p>
            <div class="intro">{{ page.intro|richtext }}</div>

            {% if page.tags.all.count %}
            <div class="tags">
                <h5>Tags</h5>
                {% for tag in page.tags.all %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>

    <div class="boxed post full">
        <div class="content">
    {% with categories=page.categories.all %}
        {% if categories %}
            <h3>Posted in:</h3>
            <ul>
                {% for category in categories %}
                    <li style="display: inline">
                        {% image category.icon fill-32x32 style="vertical-align: middle" %}
                        {{ category.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    

    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

            
        </div>
    </div>

    <section class="footer">

        {% for post in page.get_children %}
            <div  class="boxed">
                {% with post=post.specific %}
                    {% with post.hero as hero %}
                        {% if hero %}{% image hero fill-200x100 %}{% endif %}
                    {% endwith %}
                    <div class="content">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.intro }}</p>
                        <a href="{% pageurl post %}">read more</a>
                    </div>
                {% endwith %}
            </div>
        {% endfor %}

        <p>
            {% if page.get_parent.url %}
            <a href="{{ page.get_parent.url }}">Return to blog</a>
            {% endif %}
            {% if page.get_parent.url %}
            <b><a href="{{ page.next }}">{{ page.next }}</a></b>
            {% endif %}
        </p>
    </section>
</article>
{% endblock %}
