$color1: #3366cc;
$color2: #FE9903;
$color3: #003399;
$color4: #929292;
$fonts1: 'Times New Roman', Times, serif;
$fonts2: 'Neue Helvetica', Helvetica, sans-serif;

.prompt {
    position: fixed;
    z-index: 9999;
    background-color: white;
    border: 1px solid grey;
    bottom: 0;
    

    h1 {
        background-color: lightblue;
    }

}

.notify_block {
    position: fixed;
    z-index: 9999;
    bottom: 0;
}

.notify {
    margin: 5px;
    padding: 0;
    min-width: 25vw;
    background-color: rgba($color4, 0.6);
    border-radius: 10px;
    color: white;
    font-family: $fonts2;
    h1 {
        background-color: $color1;
        margin: 0px;
        padding: 5px;
    }
    .body {
        margin: 0px;
        padding: 5px;

        progress{
            margin: 5px;
        }
    }
}